@import "./libs/reset";
@import "./variables";

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: $primary;
}

.calculator {
    width: calc((100px * 4) + 15px + 10px);
    padding: 5px;
    background: $secondary;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    gap: 5px;
    margin-top: 5px;
}

.button {
    width: 100px;
    height: 50px;
    background: $secondary-dark;
    border: none;
    border-radius: 5px;
    color: $light;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;

    &:hover {
        opacity: .7;
    }
}

.current_number {
    width: 415px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;

    p {
        color: $light;
        font-size: 30px;
        line-height: 30px;
        font-weight: 600;
    }
}

.process {
    width: 415px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: end;

    p {
        color: $light;
        font-size: 14px;
        line-height: 14px;
        font-weight: 600;
    }
}